/*==========================================================================
	 GLOBAL STYLES
	 ========================================================================== */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("../fonts/Montserrat-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #444444;
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

h1,
.h1 {
  margin: 0;
  font-size: 100px;
  line-height: 1.1;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
}

h1 > span,
.h1 > span {
  color: #fb2274;
}

h2,
.h2 {
  margin: 0 auto;
  text-align: center;
  color: #444444;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 48px;
  line-height: 1, 4;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  margin: 0 auto;
  text-align: center;
  color: #a9a9a9;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 50px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
  border: 2px solid #fb2376;
  font-size: 24px;
  font-weight: 600;
  color: #fb2376;
}

.btn_long {
  width: 100%;
  background-color: transparent;
}

/* end global styles */

/*==========================================================================
     HEADER
       ========================================================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;

  right: 0;
  display: block;
  z-index: 999;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
}

/* Logo */
.logo {
  display: block;
  float: left;
  width: 204px;
  height: 26px;
}



/* Menu */

.menu {
  display: block;
  float: right;
}

.menu li {
  display: inline-block;
}

.menu li:not(:first-child) {
  margin-left: 35px;
}

.menu li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.menu li a.active {
  color: #fb2274;
}
/* end header styles */
/*==========================================================================
     FIRST SCREEN
       ========================================================================== */
.first-screen {
  position: relative;
  display: block;
  width: 100%;
  height: 897px;
  background: url("../img/first-screen.jpg") no-repeat center;
  background-size: cover;
}

.first-screen::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.78;
}

/* first-screen-content */
.first-screen-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
  width: 75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.first-screen-content p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* arrow-link */
.arrow-link {
  position: absolute;
  width: 50px;
  height: 62px;
  z-index: 2;
  background: url("../img/arrow.svg") no-repeat;
  background-size: cover;
  bottom: 5%;
  left: 48%;
  font-size: 0;
}

/* end first-screen */

/*==========================================================================
    About
       ========================================================================== */
.about {
  width: 100%;
  padding-top: 68px;
  padding-bottom: 85px;
  text-align: center;
}

.about .paragraph {
  max-width: 1000px;
}

.about .btn {
  margin-top: 20px;
}

/* end about */

/*==========================================================================
    Service
       ========================================================================== */

.service {
  text-align: center;
  width: 100%;
  padding-top: 68px;
  padding-bottom: 72px;
  background-color: #f9f9f9;
}

.service .paragraph {
  max-width: 850px;
}

.service-list {
  margin-top: 65px;
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
}

.service-list-item {
  float: left;
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.service-list-item-img {
  width: 100%;
  height: 364px;
  overflow: hidden;
  background-color: #fff;
}

.service-list-item img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.service-list-item__title {
  padding: 24px 0 24px 0;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* end service */

/*==========================================================================
     Footer
       ========================================================================== */

.footer {
  display: inline-block;
  max-height: 683px;
  width: 100%;
}

/* map */
.map-wrapper {
  width: 50%;
  position: relative;
  float: left;
}

.map {
  overflow: hidden;
}

.contact {
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #efefef;
  width: 375px;
  padding: 29px 40px 15px 38px;
  top: 50%;
  left: 209px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pin {
  position: absolute;
  z-index: 1;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #fb2274;
  border-radius: 50%;
  top: -33px;
  left: 41px;
  width: 66px;
  height: 66px;
}

.contact__title {
  margin: 0;
  padding: 15px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
}

.contact__title::after {
  content: "";
  display: block;
  background-color: #a9a9a9;
  width: 149px;
  height: 1px;
  margin-top: 8px;
}

.contact__text {
  margin: 0;
  padding: 8px 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1,2;
  text-align: left;
}

.contact__tel {
  font-size: 18px;
  font-weight: 400;
  line-height: 1,2;
  color: #fb2274;
}

/* form */

.form-wrapper {
  width: 50%;
  float: right;
}

.form {
  padding: 25px 50px 83px 50px;
}

.form__title {
  padding: 77px 0;
}

.form__input {
  margin-bottom: 19px;
  border: 1px solid #efefef;
  padding-right: 31px;
  padding-left: 31px;
  line-height: 56px;
  font-size: 18px;
  font-weight: 400;
  color: #a9a9a9;
  background-color: #fafafa;
  width: 100%;
}

.form__textarea {
  margin: 0;
  margin-bottom: 7px;
  border: 1px solid #efefef;
  padding: 17px 30px;
  font-size: 18px;
  font-weight: 400;
  color: #a9a9a9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafafa;
  width: 100%;
  resize: none;
}



/* end footer */

/*==========================================================================
     MEDIA
       ========================================================================== */

@media screen and (max-width: 1199px) {
  /* GLOBAL */
  h1,
  .h1 {
    font-size: 65px;
  }

  h2,
  .h2 {
    font-size: 42px;
  }

  .paragraph {
    font-size: 26px;
  }

  /* FIRST SCREEN */

  .first-screen {
    height: 620px;
  }

  .first-screen-content p {
    margin: 10px 0;
  }

  .arrow-next {
    bottom: 20px;
    width: 40px;
    height: 52px;
  }

  /* about */

  .about {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  /* service */

  .service {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .service-list {
    margin-top: 40px;
  }

  .service-list-item {
    margin-bottom: 30px;
    width: 33.3333%;
  }

  .service-list-item-img {
    height: 300px;
  }

  .service-list-item__title {
    font-size: 24px;
  }

  /* footer */

  /* map */
  .map {
    max-height: 530px;
    overflow: hidden;
  }

  .contact {
    width: 285px;
    left: 170px;
  }

  .contact__title {
    font-size: 28px;
  }

  .contact__text {
    font-size: 18px;
  }

  /* form */

  .form {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form-wrapper {
    max-height: 530px;
  }

  .form__title {
    padding: 40px 0;
  }
}
@media screen and (max-width: 991px) {
  /* GLOBAL */
  h1,
  .h1 {
    font-size: 50px;
  }

  h2,
  .h2 {
    font-size: 36px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .paragraph {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* LOGO*/
  .logo {
    width: 145px;
  }

  /* MENU */
  .menu li:not(:first-child) {
    margin-left: 15px;
  }

  .menu a {
    font-size: 16px;
  }

  /* FIRST SCREEN */
  .first-screen {
    height: 450px;
  }

  .first-screen-content {
    max-width: 570px;
  }

  .first-screen-content p {
    font-size: 14px;
  }

  .arrow-link {
    bottom: 15px;
    width: 35px;
    height: 43px;
  }

  /* service */

  .service {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .service-list-item {
    margin-bottom: 30px;
    float: none;
    width: 50%;
  }

  .service-list-item-img {
    height: 364px;
  }

  .service-list-item__title {
    font-size: 20px;
  }

  /* footer */
  /* map */

  .map {
    max-height: 450px;
  }

  .contact {
    padding: 20px 10px;
    width: 240px;
    left: 155px;
  }

  .pin {
    width: 55px;
    height: 55px;
  }

  .contact__title {
    font-size: 24px;
  }

  .contact__text {
    font-size: 16px;
  }

  /* form */

  .form {
    padding: 22px 20px;
  }

  .form__title {
    font-size: 28px;
  }

  .form__input {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 34px;
    font-size: 16px;

  }

  .form__textarea {
    padding: 10px;
    font-size: 16px;
  }

  .btn-long {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  /* GLOBAL */
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .paragraph {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* HEADER */

  .header {
    text-align: center;
    padding-top: 20px;
  }

  /* LOGO */

  .logo {
    margin: 0 auto 20px;
    float: none;
  }

  /* MENU  */

  .menu {
    float: none;
    margin: 0 auto;
    width: 100px;
  }

  .menu li {
    display: block;
    text-align: center;
  }

  .menu li:not(:first-child) {
    margin-left: 0;
  }

  /* fist screen */

  .first-screen {
    padding-top: 230px;
  }

  .first-screen-content {
    position: relative;
    top: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: auto;
    min-height: 450px;
    width: 100%;
  }

  .first-screen-content p {
    font-size: 12px;
    line-height: 1.4;
  }

  /* about */

  .about {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .about .paragraph {
    margin: 0;
  }

  /* service */

  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .service-list-item {
    width: 70%;
  }

  .service-list-item-img {
    height: 190px;
  }

  .service-list-item__title {
    font-size: 16px;
  }

  .service .paragraph {
    margin: 0;
  }

  /* footer */

  .footer {
    display: block;
  }

  /* map */
  .map-wrapper {
    width: 100%;
  }

  .map {
    width: auto;
  }

  .contact {
    left: 90px;
    padding: 15px 10px;
    width: 65%;
  }

  .contact__title {
    font-size: 22px;
  }

  .contact__title::after {
    width: 100px;
  }

  .contact__text {
    font-size: 16px;
    padding: 8px 0;
  }

  .contact__tel {
    font-size: 16px;
  }

  /* form */

  .form-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 319px) {
  /* GLOBAL */
  html,
  body {
    min-width: 320px;
    overflow-x: auto;
  }

  /* service */

  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .service-list-item {
    width: 100%;    
  }

  .contact {
    width: 70%;
    left: 65px;
  }

  .contact__text {
    font-size: 14px;
  }
}

/* end media */
